
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<form>
    <input type="text" placeholder="Name" class="form-control" />
    <input type="text" placeholder="Id" class="form-control" />
    <input type="text" placeholder="Email" class="form-control" />
    <input type="text" placeholder="Address" class="form-control" />
    <input type="submit" value="Create" class="btn btn-primary" />
</form>

