
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Id</th>
        <th>Email</th>
        <th>Address</th>
    </tr>
    @foreach (var item in Model) { 
        <tr>
            <td>@item.Name</td>
            <td>@item.Id</td>
            <td>@item.Email</td>
            <td>@item.Address</td>
            
            
        </tr>
    }
</table>


